/* 
  ┌─────────────────────────────────────────────────────────────────────────────┐
  │ my name is gRoot                                                            │
  └─────────────────────────────────────────────────────────────────────────────┘
 */

@font-face {
  font-family: 'gosha';
  src: url(../fonts/GoshaSansRegular.otf);
}

*, 
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgb(80, 80, 80);
  font-family: 'Gosha', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  margin: 0;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: max-content 7fr;
}

h1 {
  font-size: 2.1rem;
  margin: 20px 0 0 0;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1.5rem;
}

.sidebar-main {
  grid-column: 1;
  grid-row: 1 / 3 ;
}

.full-logo {
  display: grid;
  grid-template-columns: 50px 150px;
  align-items: center;
  gap: 10px;

  padding: 15px 0px;
}

.full-logo > img {
  filter: drop-shadow(0 0 10px white);
  height: 40px;
  
  justify-self:end;
}

.full-logo >h1 {
  margin:0;
}

.full-logo > h1 a {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 10px white;
}
.full-logo>h1 a:hover {
  transform: scale(1.3);
}

.sidebar-sub .list {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
  padding-left: 23px;
}

.sidebar-sub .list li {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
  width: min-content;
}

.sidebar-sub .list li > img {
  filter: drop-shadow(0 0 3px white);
  height: 15px;
}

.sidebar-sub .list a {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 10px;
}

.sidebar-sub .list a:hover {
  color: silver;
}

.list-top {
  margin-bottom: 75px;
}

.top-section {
  grid-column: 2;
  grid-row: 1;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.hi-there p:first-child {
  font-size: 1.5rem;
}

.ts-top-left {
  grid-column: 1;
  grid-row: 1;
  
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  justify-items: start;
  gap: 15px;
}

#site-search {
  background-color: rgb(222, 222, 222);
  border-radius: 12px;
  border: none;
  box-shadow: inset 0 0 5px black;
  font-size: 1.5rem;
  line-height: 2;
  text-indent: 10px;
  width: 90%;

  justify-self: start;
}

.ts-top-left img {
  filter: drop-shadow(0 0 3px white);

  justify-self: end;
}

.ts-top-right {
  grid-column: 2;
  grid-row: 1;

  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
}

.header-avatar {
  height: 50px;
}

.ts-top-right a {
  color: white;
  filter: drop-shadow(0 0 3px white);
}

.ts-top-right a:nth-child(3) {
  text-decoration: none;
  text-shadow: 0 0 10px white;
}

.ts-btm-left {
  grid-column: 1;
  grid-row: 2;

  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  justify-items: center;
}

.ts-btm-left p {
  color: white;
  margin: 0;
  text-shadow: 0 0 10px;
}

.greeting-avatar {
  height: 80px;
  padding: 8px;
  
  justify-self: end;
}

.hi-there {
  margin: auto 0;
  justify-self: start;
}

.ts-btm-right {
  grid-column: 2;
  grid-row: 2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 15px;
}

.ts-btm-right a {
  background-color: gray;
  border-radius: 18px;
  box-shadow: 0 0 10px white, inset 0 0 3px white;
  color: white;
  font-size: 1.5rem;
  padding: 5px 24px;
  text-decoration: none;
  text-shadow: 0 0 10px white;
  text-transform: uppercase;
}

.ts-btm-right a:nth-child(3) {
  margin-right: 10px;
}

.main {
  background-color: rgb(163, 163, 163);
  box-shadow: inset 0 0 11px black;
  border-radius: 18px 0 0 18px;
  grid-column: 2;
  grid-row: 2;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 45px auto;
}

.main-labels {
  color: white;
  text-shadow: 0 0 10px;
}

.projects-label {
  padding-left: 25px;
}

.announcement-label,
.trending-label {
  padding-left: 5px;
}

.card-container {
  grid-column: 1;
  grid-row: 2;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  align-content: start;

  padding: 20px;
}

.card-container > .main-labels {
  grid-column: 1 / 3;
}

.project-card,
.announcement-container,
.trending-container {
  box-shadow: inset 0 0 18px black, 0 8px 2px -2px rgba(0, 0, 0, 0.446);
}

.project-card {
  background-color: white;
  border-left: 8px solid silver;
  border-radius: 18px;
  height: 250px;
  padding: 12px;

  display: grid;
  grid-template-rows: 3fr 1fr;
}

.project-card h2 {
  margin: 20px 0 5px 0;
}

.project-card p {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

.card-interactions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-self: end;

  margin-right: 20px;
}

.sub-sidebar {
  grid-column: 2;
  grid-row: 2;
  
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 20px;
  
  margin: 20px 20px 20px 0;
}

.announcement-container,
.trending-container {
  background-color: white;
  border-radius: 18px;
  padding: 20px;
}

.announcement-container {
  grid-row: 1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.announcement-item {
  padding-bottom: 25px;
  border-bottom:  1px solid gray;
}

.announcement-item:last-of-type {
  border-bottom: none;
}

.announcement-item > h2 {
  margin: 0 0 5px 0;
}

.announcement-item > p {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

.trending-container {
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  
  align-self: end;
}

.member-info > div:nth-child(2) {
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 3px;
}

.members {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

.sb-avatar {
  height: 40px;
}

@media only screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }

  .sub-sidebar {
    grid-column: 1;
    grid-row: 4;

    padding-left: 20px;
  }

  .announcement-label {
    margin-left: 20px;
  }
  
}